h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(188, 41, 41);
    padding: 20px;
    margin:0px;
    overflow:hidden;

}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(142, 9, 9);

}

.navbar li{
    float: left;
    font-size: 25px;
}